<!DOCTYPE html>
    <head>
        <title> Sorting Algorithms </title>
    </head>
    <body>
        <h2> Sorting Algorithms </h2>
        <p>1.Bubble Sort <br>2.Selection Sort <br>3.Insertion Sort <br>4.Merge Sort<br> 5.Heap Sort <br> 6.Quick Sort <br> 7.Quick Sort with 3 Medians <br></p>

        <body>
            <tr>
            <form class="example" method="post" action="">
                
               
               Select An Algorithm:<br><input type="text" placeholder="" name="input1"><br>
               Enter Input size:<br><input type="text" placeholder="" name="input2"><br><br>
               <button type="submit" class="btn btn-secondary btn-md"><i class="fa fa-search"></i>search</button>
            </form>
            {% if data %}
                <br><p>{{data}}
                <br><p>{{qtime}}</p>
            {%endif%}

                    </tr>
        </body>
</html>